.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 20px;
    background-color: #073728;
}

.navHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.navItem{
    font-family: 'Itim', cursive;
    font-size: 22px;
    text-decoration: none;
    background: linear-gradient(90deg, #FFFFFA, #DDDDDD, #D9D9D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    transition: .5s;
}

.navItem:hover{
    text-decoration: 3px underline #0B6E4F;
}