.footer {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding-top: 20px;
    background-color: #073728;
}

.alinhamentoColuna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.alinhamento{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.alinhamentoColuna h2{
    font-size: 20px;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-weight: lighter;
}

.icon{
    height: 50px;
    width: 50px;
    padding: 10px;
    background-color: #0d3025;
    border-radius: 10px;
    margin: 15px;
    transition: .5s;
}

.icon:hover{
    transform: translateY(-10px);
    background-color: #073728;
}

.footer p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    color: #fff;
}