.scoreboard {
    width: 40.625vw;
    height: 5.6vh;
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.scoreboard *{
    margin: 0px 20px;    
}

.scoreboard_team_name {
    width: 15vw;
    text-align: center;
}