.banner{

    width: 100vw;
    height: 70.4vh;
    background: url('/public/Banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    
    color: #fff;
}

.banner *{
    margin: 0px 20vw;
}

.banner p{
    font-size: 25px;
    width: 21.25vw;
}

.banner a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    border: 2px solid #fff;
    padding: 15px 50px;
    margin-top: 40px;
    
}

.banner a:hover {
    transition: 0.5s;
    padding: 20px 60px;
    font-size: 21px;
    
}
