* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;

}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

main {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.main_container {
  background-color: #5FA8D3;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_card {
  background-color: #D5D5D5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.span_container {
  background-color: #1B4965;
  width: 100%;
}